body {
    color: black;
    font-size: 18px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    font-weight: 600;
    color: #151515;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 60px;
}

h3 {
    font-size: 48px;
}


.nav-item {
    margin-right: 3vh;
}

.offer {
    background: url(/img/main_img.jpg);
}


.offer-cont {
    margin-top: 15vh;
}

.offer-cont-text {
    margin-top: 2vh;
}

.hero {
    position: absolute;
    right: 50px;
    top: 250px;
    width: 150px;
    height: 150px;
    background: #1BAE9B;
    border-radius: 50%;
}

.hero:after {
    content: '';
    display: block;
    background: url(../img/play-circle.svg);
    width: 77px;
    height: 77px;
    position: relative;
    top: 38px;
    left: 38px;
}


.client {
    background-color: #F9F9F9;
}

.client-cont__title {
    margin-top: 8vh;
}

.client-cont__text {
    margin-top: 2vh;
}

.client-cont-brand {
    margin-left: -30px;
    margin-top: 3vh;
    padding-bottom: 8vh;
}

.best-planet-cont__title {
    margin-top: 8vh;
}

.best-planet-cont__text {
    margin-top: 2vh;
}

.best-place__item {
    margin-top: 3vh;
    padding-bottom: 3vh;
}

.best-place__item:nth-child(2) {
    margin-top: 3vh;
    padding-bottom: 0;
}


.best-place {
    padding-bottom: 5vh;
}

.best-place__btn {
    margin-left: -15px;
}

.client-cont-img:hover {
    box-shadow: 1px 1px 32px 5px rgba(42, 39, 39, 0.06);
    -webkit-box-shadow: 1px 1px 32px 5px rgba(42, 39, 39, 0.06);
    -moz-box-shadow: 1px 1px 32px 5px rgba(42, 39, 39, 0.06);
}


.best-place__card:hover {
    box-shadow: 1px 1px 32px 5px rgba(42, 39, 39, 0.06);
    -webkit-box-shadow: 1px 1px 32px 5px rgba(42, 39, 39, 0.06);
    -moz-box-shadow: 1px 1px 32px 5px rgba(42, 39, 39, 0.06);
}

.btn-outline-success {
    color: #1BAE9B;
    border-color: #1BAE9B;
}

.btn-outline-success:hover {
    background-color: #1BAE9B;
    border-color: #1BAE9B;
}

.btn-info {
    background-color: #1BAE9B;
}

.btn-info:hover {
    background-color: #129281;
}

.best-place__text {
    font-size: 16px;;
}

.best-place__title:hover {    
text-decoration: none;
color: #1BAE9B;
}

.footer {
	height: 240px;
	background: #f5f5f5;
	margin-top: 136px;
}

.footer-logo {
	margin-top: 109px;
	margin-bottom: 109px;
}
